<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
  <script async type="module" src="../javascript/scriptcre.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
  <body>
    <nav>
    
    </nav>
    <div class="paglog">
    <form id="formcre">
      <ul class="ullog">
        <li>
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="user_name" placeholder="nombre usuario"/>
        </li>
        <li>
          <label for="apelido1">1º apellido:</label>
          <input type="text" id="apelido1" name="user_apelido1" placeholder="Ingresa o primeiro apelido do usuario"/>
        </li>
        <li>
          <label for="apelido2">2ª apellido:</label>
          <input type="text" id="apelido2" name="user_apelido2" placeholder="Ingresa o segundo apelido do usuario"/>
        </li>
        <li>
          <label for="pwd">password</label>
          <input type="password" id="pwd" name="user_pwd" placeholder="Ingresa o teu password"/>
        </li>
        <li>
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email" placeholder="Ingresa o enderezo do usuario"/>
        </li>
      </ul>
  <span class="spanlog">
    <span>
      <input class="hecho" type="submit" value="Enviar" />
      <button class="hecho" type="reset">Borrar</button>
      </span>
    <span>
      <a class="hecho" href="/">volver a login</a>
    </span>
  </span>
    </form>
    </div>
    <div class="pop">
      <P><b>Usuario creado correctamente</b></P>
      <a href="/" class="hecho pob">Ok</a>
    </div>
    

  </body>
  </html>